chronos-plugincommon/src/main/resources/org/codehaus/mojo/chronos/common/chronos-responsetimesamples.dtd

<!ELEMENT groupedresponsetimesamples (group | sample)*>
<!ATTLIST groupedresponsetimesamples
	succeeded CDATA "0"
	starttime CDATA "0"
	dateformat CDATA "HH:mm:ss"
>
<!ELEMENT group (responsetimesamplegroup)*>
<!ATTLIST group
	id CDATA "0"
>
<!ELEMENT responsetimesamplegroup EMPTY>
<!ATTLIST responsetimesamplegroup
	name CDATA ""
	index CDATA ""
>
<!ELEMENT sample EMPTY>
<!ATTLIST sample
	responsetime CDATA ""
	timestamp CDATA ""
	success CDATA ""
	threadId CDATA ""
>
